<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="e_commerce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  -->
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <!--alterado-->
    <!--<globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1"/>-->
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false">
      <!--alterado-->
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <!--<httpRuntime/>-->
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
    <customErrors mode="Off" defaultRedirect="Error.aspx">
      <error statusCode="404" redirect="Error.aspx"/>
    </customErrors>
    <!--<compilation debug="true"/>-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <!--<add connectionString="metadata=res://*/Models.Modelvsaslite.csdl|res://*/Models.Modelvsaslite.ssdl|res://*/Models.Modelvsaslite.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.0.6;user id=root;password=bv15ta531;database=ecommerce;Allow Zero Datetime=True;Convert Zero Datetime=True; Connect Timeout=600&quot;" name="vsasliteEntities" providerName="System.Data.EntityClient" />-->
    <add name="vsasliteEntities" connectionString="metadata=res://*/Models.Modelvsaslite.csdl|res://*/Models.Modelvsaslite.ssdl|res://*/Models.Modelvsaslite.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=desenv022;user id=root;password=bv15ta531;database=ecommerce;Allow Zero Datetime=True;Convert Zero Datetime=True; Connect Timeout=600&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <applicationSettings>
    <e_commerce.Properties.Settings>
      <setting name="Rede" serializeAs="String">
        <value>0001</value>
      </setting>
      <setting name="Filial" serializeAs="String">
        <value>001</value>
      </setting>
      <setting name="IntervaloLimpezaCookies" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="QtdeElementosPaginaInicial" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="IdsProdutosBanner" serializeAs="String">
        <value>0000000100002,0000000200001,0000000160013</value>
      </setting>
      <setting name="EmailCredential" serializeAs="String">
        <value>vip-systems@vip-systems.com.br</value>
      </setting>
      <setting name="TokenCredential" serializeAs="String">
        <value>207A5B73540E4707A400655BB2A4F206</value>
      </setting>
      <setting name="TipoPedido" serializeAs="String">
        <value>0000</value>
      </setting>
      <setting name="Sta" serializeAs="String">
        <value>01</value>
      </setting>
      <setting name="CadVend" serializeAs="String">
        <value>000000000000</value>
      </setting>
      <setting name="ResponsavelPeloFrete" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="IdTipoEndereco" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="CodCliStatus" serializeAs="String">
        <value>P</value>
      </setting>
      <setting name="CodUserMov" serializeAs="String">
        <value>000000</value>
      </setting>
      <setting name="CanalVenda" serializeAs="String">
        <value>00001</value>
      </setting>
      <setting name="Status" serializeAs="String">
        <value>P</value>
      </setting>
      <setting name="TipoTef" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="CodCart" serializeAs="String">
        <value>01</value>
      </setting>
      <setting name="EmailContato" serializeAs="String">
        <value>suporte.vipsystems@gmail.com</value>
      </setting>
      <setting name="SmtpServer" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="PesoMinimoCorreios" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="EmailContatoSite" serializeAs="String">
        <value>suporte.vipsystems@gmail.com</value>
      </setting>
      <setting name="Tema" serializeAs="String">
        <value>Cinza</value>
      </setting>
      <setting name="LinkSite" serializeAs="String">
        <value>189.19.209.193</value>
      </setting>
      <setting name="FiltraEstoque" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CepOrigem" serializeAs="String">
        <value>13736-100</value>
      </setting>
      <setting name="CaminhoImagens" serializeAs="String">
        <value>C:\SYS_VIP\ECOMMERCE\IMAGENS</value>
      </setting>
      <setting name="MenssagemCarrinho" serializeAs="String">
        <value>Você está no carrinho, e ele está vazio! Que tal enchê-lo!?</value>
      </setting>
      <setting name="ReservaPedidoBotaoComprar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SenhaEmail" serializeAs="String">
        <value>Bvist@135</value>
      </setting>
      <setting name="senhaEmailContato" serializeAs="String">
        <value>Bvist@135</value>
      </setting>
    </e_commerce.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CalcPrecoPrazoWSSoap"/>
        <binding name="ServiceBuscaCepSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx" binding="basicHttpBinding" bindingConfiguration="CalcPrecoPrazoWSSoap" contract="Correios.CalcPrecoPrazoWSSoap" name="CalcPrecoPrazoWSSoap"/>
      <!--<endpoint address="http://www.e-developments.com.br/consultacep.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceBuscaCepSoap" contract="ServiceEndereco.ServiceBuscaCepSoap" name="ServiceBuscaCepSoap"/>-->
    </client>
  </system.serviceModel>
</configuration>